@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.ptitle{
    color: blue;
    font-family: 'Playfair Display', serif;
}
.postcn p{
    font-size: 1.4rem;
}
.join{
    border: none;
    background: #0075FF;
    color: white;
    font-weight: 700;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 2px;
}

